<!-- <div class="tile_holder"> -->
<section>
	<div class="flex-container">
		<a class="flex-item" id="tiles" href="/score">One Word Game</a>
		<a class="flex-item" id="tiles" href="/score-many">Multi-Word Game</a>
	</div>
</section>
<!-- </div> -->