<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Scrabble</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>