<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Scrabble</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body>
  	<header>
  		<h1><a href="/">Sinatra Scrabble</a><h1>
  	</header>
    <%= yield %>
  </body>
</html>