html {
	font-size: 16px;
	font-family: sans-serif;
}

body {
	background-color: rgb(255, 255, 204);
	height: 100%;
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

h1 {
	text-align: center;
}

section {
	width:100%;
}

a {
	text-decoration: none;
	color: rgb(255, 255, 204);
}

p {
	text-align: center;
}

#play-game {
	width: 240px;
	margin: auto;
}

.tiles {
	background-image: url('/images/tile.jpg');
	text-align: center;
	margin:25px;
	height: 235px;
	width: 215px;
	margin: auto;
	margin-top: 40px;
	color: rgb(0, 0, 0);
	font-family: sans-serif;
	text-decoration: none;
	font-weight: 600;
	font-size: 2rem;
}

.tile_links {
	display: block;
	color: black;
	padding-top: 80px;
}

.center-buttons {
	text-align:center; 
}
